examples/WuT-Demo-Dashboard.json
[{"id":"825ddfa1.063a1","type":"tab","label":"Demo-Flow","disabled":false,"info":""},{"id":"991fc0f8.02ea8","type":"ui_text","z":"825ddfa1.063a1","group":"e6a45a1d.ecf828","order":1,"width":"6","height":"2","name":"Intro-Text","label":"Herzlich Willkommen bei Node-RED.<br>Dies ist ein Demo-Dashboard.","format":"","layout":"row-left","x":200,"y":100,"wires":[]},{"id":"8202b188.9800b","type":"ui_template","z":"825ddfa1.063a1","group":"e6a45a1d.ecf828","name":"W&T Clock","order":2,"width":"6","height":"5","format":"<div style=\"display: flex; justify-content: center; align-items: center; height: 100%;\">\n    <div style=\"width: 60%; height: auto;\">\n        <svg x=\"0px\" y=\"0px\" viewBox=\"0 0 424 424\">\n        \t<circle fill=\"#25A7E0\" cx=\"312\" cy=\"41\" r=\"14\"/>\n        \t<circle fill=\"#25A7E0\" cx=\"383\" cy=\"113\" r=\"14\"/>\n        \t<circle fill=\"#25A7E0\" cx=\"410\" cy=\"212\" r=\"14\"/>\n        \t<circle fill=\"#25A7E0\" cx=\"383\" cy=\"312\" r=\"14\"/>\n        \t<circle fill=\"#25A7E0\" cx=\"312\" cy=\"383\" r=\"14\"/>\n        \t<circle fill=\"#25A7E0\" cx=\"212\" cy=\"410\" r=\"14\"/>\n        \t<circle fill=\"#25A7E0\" cx=\"113\" cy=\"383\" r=\"14\"/>\n        \t<circle fill=\"#25A7E0\" cx=\"41\" cy=\"312\" r=\"14\"/>\n        \t<circle fill=\"#25A7E0\" cx=\"14\" cy=\"212\" r=\"14\"/>\n        \t<circle fill=\"#25A7E0\" cx=\"41\" cy=\"113\" r=\"14\"/>\n        \t<circle fill=\"#25A7E0\" cx=\"113\" cy=\"41\" r=\"14\"/>\n        \t<circle fill=\"#25A7E0\" cx=\"212\" cy=\"14\" r=\"14\"/>\n        \t<line id=\"wutClockHour\" stroke=\"#000000\" stroke-width=\"12\" stroke-linecap=\"round\" x1=\"212\" y1=\"212\" x2=\"212\" y2=\"126\"/>\n        \t<line id=\"wutClockMin\" stroke=\"#000000\" stroke-width=\"10\" stroke-linecap=\"round\" x1=\"212\" y1=\"212\" x2=\"212\" y2=\"56\"/>\n        \t<line id=\"wutClockSec\" stroke=\"#25A7E0\" stroke-width=\"3\" stroke-linecap=\"round\" x1=\"212\" y1=\"212\" x2=\"212\" y2=\"48\"/>\n        \t<circle cx=\"212\" cy=\"212\" r=\"11\"/>\n        </svg>\n        <p>&nbsp;</p>\n        <p id=\"timeString\" style=\"text-align: center;\"></p>\n    </div>\n</div>\n\n<script>\n    $(function() {\n        const updateWutClock = function() {\n            if(document.getElementById('wutClockHour')) {\n                const currentDate = new Date();\n    \t\t    const secs = currentDate.getSeconds();\n    \t\t    const mins = currentDate.getMinutes();\n    \t\t    const hours = currentDate.getHours();\n    \t\t    const degSecs = secs * 6; // 60s = 360° -> 1s = 6°\n    \t\t    const degMins = (mins * 60 + secs) / 10; // 3600s = 360° -> 1s = 0.1°\n    \t\t    const degHours = (hours * 3600 + mins * 60 + secs) / 120; // 12*3600s = 43200s = 360° -> 1s = 1/120 °\n    \t\t    \n    \t\t\t$('#wutClockSec').attr('transform', 'rotate(' + degSecs + ', 212, 212)');\n    \t\t\t$('#wutClockMin').attr('transform', 'rotate(' + degMins + ', 212, 212)');\n    \t\t\t$('#wutClockHour').attr('transform', 'rotate(' + degHours + ', 212, 212)');\n    \t\t\t\n    \t\t\t$('#timeString').text(currentDate.toLocaleString());\n            } else {\n                clearInterval(window.wutClockInterval);\n                window.wutClockInterval = null;\n            }\n        }\n        clearInterval(window.wutClockInterval); // only 1 interval at once...\n        window.wutClockInterval = setInterval(updateWutClock, 1000);\n        updateWutClock();\n    });\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":210,"y":160,"wires":[[]]},{"id":"dd1de0cd.0797c","type":"ui_button","z":"825ddfa1.063a1","name":"","group":"e6a45a1d.ecf828","order":2,"width":0,"height":0,"passthru":false,"label":"Demo-Aktion","tooltip":"","color":"","bgcolor":"","icon":"fa-action","payload":"Hello World!","payloadType":"str","topic":"","x":210,"y":220,"wires":[["7af71553.b1e80c","55047da8.bba6c4"]]},{"id":"d0ab610.42dcca","type":"ui_text","z":"825ddfa1.063a1","group":"e6a45a1d.ecf828","order":3,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":220,"wires":[]},{"id":"7af71553.b1e80c","type":"function","z":"825ddfa1.063a1","name":"","func":"const d = new Date();\nconst hours = ('0' + d.getHours()).slice(-2);\nconst mins = ('0' + d.getMinutes()).slice(-2);\nconst secs = ('0' + d.getSeconds()).slice(-2);\n\nmsg.topic = 'Letzte Aktion um:';\nmsg.payload = hours + ':' + mins + ':' + secs;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":220,"wires":[["d0ab610.42dcca"]]},{"id":"55047da8.bba6c4","type":"ui_toast","z":"825ddfa1.063a1","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":440,"y":280,"wires":[]},{"id":"e6a45a1d.ecf828","type":"ui_group","z":"","name":"Group 1","tab":"260fe829.ab6db8","order":1,"disp":false,"width":"6","collapse":false},{"id":"260fe829.ab6db8","type":"ui_tab","z":"","name":"Demo-Dashboard","icon":"dashboard","disabled":false,"hidden":false}]