examples/WuT-Demo-Dashboard-EN.json
[{"id":"da96550b.bf4278","type":"tab","label":"demo flow","disabled":false,"info":""},{"id":"9bd52b8c.169228","type":"ui_text","z":"da96550b.bf4278","group":"1fed1e1e.0af4a2","order":1,"width":"6","height":"2","name":"intro text","label":"Welcome to Node-RED.<br>This is a demo dashboard.","format":"","layout":"row-left","x":200,"y":100,"wires":[]},{"id":"c8927025.83ad","type":"ui_template","z":"da96550b.bf4278","group":"1fed1e1e.0af4a2","name":"W&T Clock","order":2,"width":"6","height":"5","format":"<div style=\"display: flex; justify-content: center; align-items: center; height: 100%;\">\n    <div style=\"width: 60%; height: auto;\">\n        <svg x=\"0px\" y=\"0px\" viewBox=\"0 0 424 424\">\n        \t<circle fill=\"#25A7E0\" cx=\"312\" cy=\"41\" r=\"14\"/>\n        \t<circle fill=\"#25A7E0\" cx=\"383\" cy=\"113\" r=\"14\"/>\n        \t<circle fill=\"#25A7E0\" cx=\"410\" cy=\"212\" r=\"14\"/>\n        \t<circle fill=\"#25A7E0\" cx=\"383\" cy=\"312\" r=\"14\"/>\n        \t<circle fill=\"#25A7E0\" cx=\"312\" cy=\"383\" r=\"14\"/>\n        \t<circle fill=\"#25A7E0\" cx=\"212\" cy=\"410\" r=\"14\"/>\n        \t<circle fill=\"#25A7E0\" cx=\"113\" cy=\"383\" r=\"14\"/>\n        \t<circle fill=\"#25A7E0\" cx=\"41\" cy=\"312\" r=\"14\"/>\n        \t<circle fill=\"#25A7E0\" cx=\"14\" cy=\"212\" r=\"14\"/>\n        \t<circle fill=\"#25A7E0\" cx=\"41\" cy=\"113\" r=\"14\"/>\n        \t<circle fill=\"#25A7E0\" cx=\"113\" cy=\"41\" r=\"14\"/>\n        \t<circle fill=\"#25A7E0\" cx=\"212\" cy=\"14\" r=\"14\"/>\n        \t<line id=\"wutClockHour\" stroke=\"#000000\" stroke-width=\"12\" stroke-linecap=\"round\" x1=\"212\" y1=\"212\" x2=\"212\" y2=\"126\"/>\n        \t<line id=\"wutClockMin\" stroke=\"#000000\" stroke-width=\"10\" stroke-linecap=\"round\" x1=\"212\" y1=\"212\" x2=\"212\" y2=\"56\"/>\n        \t<line id=\"wutClockSec\" stroke=\"#25A7E0\" stroke-width=\"3\" stroke-linecap=\"round\" x1=\"212\" y1=\"212\" x2=\"212\" y2=\"48\"/>\n        \t<circle cx=\"212\" cy=\"212\" r=\"11\"/>\n        </svg>\n        <p>&nbsp;</p>\n        <p id=\"timeString\" style=\"text-align: center;\"></p>\n    </div>\n</div>\n\n<script>\n    (function(scope) {\n      scope.$watch('msg', function(msg) {\n        if (msg && msg.payload && document.getElementById('wutClockHour')) {\n            const currentDate = new Date(msg.payload);\n\t\t    const secs = currentDate.getSeconds();\n\t\t    const mins = currentDate.getMinutes();\n\t\t    const hours = currentDate.getHours();\n\t\t    const degSecs = secs * 6; // 60s = 360° -> 1s = 6°\n\t\t    const degMins = (mins * 60 + secs) / 10; // 3600s = 360° -> 1s = 0.1°\n\t\t    const degHours = (hours * 3600 + mins * 60 + secs) / 120; // 12*3600s = 43200s = 360° -> 1s = 1/120 °\n\t\t    \n\t\t\t$('#wutClockSec').attr('transform', 'rotate(' + degSecs + ', 212, 212)');\n\t\t\t$('#wutClockMin').attr('transform', 'rotate(' + degMins + ', 212, 212)');\n\t\t\t$('#wutClockHour').attr('transform', 'rotate(' + degHours + ', 212, 212)');\n\t\t\t\n\t\t\t$('#timeString').text(currentDate.toLocaleString());\n        }\n      });\n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":430,"y":160,"wires":[[]]},{"id":"abb11ff2.412a7","type":"ui_button","z":"da96550b.bf4278","name":"","group":"1fed1e1e.0af4a2","order":2,"width":0,"height":0,"passthru":false,"label":"demo action","tooltip":"","color":"","bgcolor":"","icon":"fa-action","payload":"Hello World!","payloadType":"str","topic":"","x":210,"y":220,"wires":[["982beebf.a7613","24e615a2.6cc44a"]]},{"id":"6c05541e.e00f8c","type":"ui_text","z":"da96550b.bf4278","group":"1fed1e1e.0af4a2","order":3,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":220,"wires":[]},{"id":"982beebf.a7613","type":"function","z":"da96550b.bf4278","name":"","func":"const d = new Date();\nconst hours = ('0' + d.getHours()).slice(-2);\nconst mins = ('0' + d.getMinutes()).slice(-2);\nconst secs = ('0' + d.getSeconds()).slice(-2);\n\nmsg.topic = 'Last action at:';\nmsg.payload = hours + ':' + mins + ':' + secs;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":220,"wires":[["6c05541e.e00f8c"]]},{"id":"24e615a2.6cc44a","type":"ui_toast","z":"da96550b.bf4278","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":440,"y":280,"wires":[]},{"id":"cca7c89d.5ec0a8","type":"inject","z":"da96550b.bf4278","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":160,"wires":[["c8927025.83ad"]]},{"id":"1fed1e1e.0af4a2","type":"ui_group","z":"","name":"Group 1","tab":"41e1292c.82fb68","order":1,"disp":false,"width":"6","collapse":false},{"id":"41e1292c.82fb68","type":"ui_tab","z":"","name":"Demo Dashboard","icon":"dashboard","disabled":false,"hidden":false}]