examples/WuT-all-nodes.json
[{"id":"12c6478104f7a1c3","type":"tab","label":"W&T example (all nodes)","disabled":false,"info":"","env":[]},{"id":"0f8576c4e84438eb","type":"Analog IN","z":"12c6478104f7a1c3","name":"","topic":"","webio":"6723b9e665a1bcff","number":1,"x":360,"y":100,"wires":[["2bff9ea4fbbfd5bc"]]},{"id":"2bff9ea4fbbfd5bc","type":"debug","z":"12c6478104f7a1c3","name":"Temperatur","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":670,"y":100,"wires":[]},{"id":"ce92c334e69a282e","type":"Analog OUT","z":"12c6478104f7a1c3","name":"","topic":"","webio":"6723b9e665a1bcff","number":1,"x":360,"y":240,"wires":[["429bfe7454beae93"]]},{"id":"700bad6e4dcd7242","type":"inject","z":"12c6478104f7a1c3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":150,"y":200,"wires":[["ce92c334e69a282e"]]},{"id":"d756061705710195","type":"inject","z":"12c6478104f7a1c3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"num","x":150,"y":280,"wires":[["ce92c334e69a282e"]]},{"id":"429bfe7454beae93","type":"debug","z":"12c6478104f7a1c3","name":"analog OUT","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":670,"y":240,"wires":[]},{"id":"3a48a6d339928e1a","type":"Digital IN","z":"12c6478104f7a1c3","name":"","topic":"","webio":"0b621ff19ecad5d1","number":0,"x":360,"y":360,"wires":[["3665ba7f2a709432"]]},{"id":"3665ba7f2a709432","type":"debug","z":"12c6478104f7a1c3","name":"dig. IN","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":650,"y":360,"wires":[]},{"id":"5326ce1086aa8974","type":"Digital OUT","z":"12c6478104f7a1c3","name":"","topic":"","webio":"0b621ff19ecad5d1","number":0,"x":360,"y":460,"wires":[["894e638f48ca9042"]]},{"id":"96598f4572d294be","type":"inject","z":"12c6478104f7a1c3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":150,"y":420,"wires":[["5326ce1086aa8974"]]},{"id":"264da8907fcd6ae5","type":"inject","z":"12c6478104f7a1c3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":150,"y":520,"wires":[["5326ce1086aa8974"]]},{"id":"894e638f48ca9042","type":"debug","z":"12c6478104f7a1c3","name":"Light","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":650,"y":460,"wires":[]},{"id":"7ce6122d4c4e85b8","type":"Counter","z":"12c6478104f7a1c3","name":"Counter","topic":"","webio":"0b621ff19ecad5d1","number":0,"x":360,"y":580,"wires":[[]]},{"id":"0c0fd2beee909b2e","type":"inject","z":"12c6478104f7a1c3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":150,"y":580,"wires":[["7ce6122d4c4e85b8"]]},{"id":"5137dba9c2087868","type":"Com-Server","z":"12c6478104f7a1c3","name":"DEMO Com-Server","topic":"","host":"192.168.1.42","port":8000,"format":"string","encoding":"utf8","delimiter":"","sendDelimiter":false,"setuart":false,"configport":9094,"baudrate":3,"parity":0,"databits":8,"stopbits":1,"permupdate":false,"manualConfig":false,"device":null,"x":360,"y":680,"wires":[["97f324c3d00a00a0"]]},{"id":"97f324c3d00a00a0","type":"debug","z":"12c6478104f7a1c3","name":"ser. Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":680,"wires":[]},{"id":"6723b9e665a1bcff","type":"Web-IO","name":"DEMO Web-IO Analog","protocol":"http","host":"192.168.1.42","port":"80","portinfoIntervalSec":300,"manualConfig":false,"device":null,"pollingIntervalValue":"1","pollingIntervalFactor":"1000","pollingIntervalSec":1},{"id":"0b621ff19ecad5d1","type":"Web-IO","name":"DEMO Web-IO Digital","protocol":"http","host":"192.168.1.42","port":"80","portinfoIntervalSec":300,"manualConfig":false,"device":null,"pollingIntervalValue":"1","pollingIntervalFactor":"1000","pollingIntervalSec":1}]